* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Courier New', Courier, monospace;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    text-align: center;
    color: blue;
}

.main-container {
    border-radius: 2rem;
    width: 80rem;
    height: 30rem;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.main-container form {
    text-align: center;
}

.main-container p {
    font-size: 1.8rem;
    text-align: justify;
}

span, button {
    font-size: 1.5rem;
}

button {
    border-radius: 1rem;
    padding: 0px 10px;
    margin-right: 1rem;
    background-color: darksalmon;
    color: white;
}